<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="alert alert-dismissible alert-danger" th:if="${param.error}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Kullanıcı Adı veya Şifre yanlış.
    </div>
    <h1 class="h3 mb-3 font-weight-normal">Şifremi Unuttum</h1>
    <form th:action="@{/forgot-password}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <label>E-mail</label>
        <input type="text" name="email" class="form-control"/>
        <br/>
        <button class="btn btn-secondary text-center form-control" type="submit">Giriş Yap</button>
    </form>
</div>
</body>
</html>