<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="alert alert-danger" role="alert" th:if="${param.error}">
        Kullanıcı Adı veya Şifre yanlış.
    </div>
    <form th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Giriş Yap</h1>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <label>Kullanıcı Adınız</label>
        <input type="text" name="username" class="form-control"/>
        <label>Şifreniz</label>
        <input type="password" id="password" name="password" class="form-control"/>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
    </form>
</div>
</body>
</html>