<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="alert alert-dismissible alert-danger" th:if="${errorMessage}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p th:text="${errorMessage}"></p>
    </div>
    <h1 class="h3 mb-3 font-weight-normal">Şifre Değiştir</h1>
    <th:block th:if="!${errorMessage}">
    <form th:action="@{/password-reset(token = ${#request.getParameter('token')})}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <label>Şifre</label>
        <input type="text" name="password" class="form-control"/>
        <br/>
        <button class="btn btn-secondary text-center form-control" type="submit">Şifremi Değiştir</button>
    </form>
    </th:block>
</div>
</body>
</html>