<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div class="container" layout:fragment="content">

    <h1 class="h3 mb-3 font-weight-normal">Uye Kaydı</h1>
    <div class="margin-top20 text-center"><a th:href="@{/login}">Giriş Sayfasına Git</a></div>

    <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post">

        <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('*')}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
            <li th:each="err : ${#fields.detailedErrors('*')}"><span th:text="${err}">Errors</span></li>
            </ul>
        </div>

        <label>Adınız</label>
        <input type="text" id="firstName" placeholder="Adınız" th:field="*{FirstName}" class="form-control"/>

        <label>Soyadınız</label>
        <input type="text" id="lastName" placeholder="Soyadınız" th:field="*{LastName}" class="form-control"/>

        <label>Kullanıcı Adınız</label>
        <input type="text" id="username" placeholder="Kullanıcı adı" th:field="*{UserName}" class="form-control"/>

        <label>E-mail Adresiniz</label>
        <input type="text" id="email" placeholder="E-mail" th:field="*{Email}" class="form-control"/>

        <label>Şifreniz</label>
        <input type="password" id="password" placeholder="Parola" th:field="*{Password}" class="form-control"/>
        <br>
        <button type="submit" class="btn btn-secondary text-center form-control">Kaydet</button>
    </form>

</div>
</body>
</html>